* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Heebo", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 800;
}
    
body {
    padding: 1rem 1rem 4.5rem 1rem;
    min-width: 230px;
    position: relative;
    min-height: 100vh;
}

.form-container, #results-container {
    max-width: 550px;
}

#result {
    font-size: clamp(2.75rem, 12vw, 5.5rem);
    font-weight: 800;
    text-align: center;
    min-height: 60px;
}

.show {
    opacity: 1;
    transform: scaleY(1);
    transform-origin: top;
    transition: transform ease-in-out 150ms;
    transition: opacity ease-in-out 200ms;
}

.hide {
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform ease-in-out 150ms;
    transition: opacity ease-in-out 200ms;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    color:rgb(105, 105, 105);
    padding: .3rem 1.5rem;
    font-size: 13px;
    min-height: 35px;
}

.small-font {
    font-size: 12px;
}

footer a {
    color:rgb(105, 105, 105);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}
